.box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
  }
  
  .card{
    font-family: 'Nanum Gothic Coding', monospace;
    width: 342px;
    margin-top: 20px;
    border-radius: 7px;
  }
  
  .card .btn {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .card img {
    max-height: 300px;
    width: 340px;
    border-radius: 5px;
  }
  
  .card .card-content {
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .container {
    padding-bottom: 5em;
  }
